<div class="avatar-pokemon">
  <div class="avatar-img">
    <%= link_to poke do %>
      <%= image_tag picture poke %>
    <% end %>
  </div>
  <div class="avatar-info">
    <h2> <%= poke.name %> </h2>
      <%= link_to poke.trainer do %>
        <p> Trainer: <%= poke.trainer.name %> </p>
      <% end %>
  </div>
  <div class="avatar-info">
   <%= set_link_state link:(link_to 'Edit', edit_pokemon_path(poke)),
        view_context: @view_context,
        current_user: current_trainer, 
        user: poke.trainer,
        text: 'Edit'
    %>
    <%= set_link_state link:(link_to 'Destroy', poke, method: :delete, data: { confirm: 'Are you sure?' }),
      view_context: @view_context,
      current_user: current_trainer, 
      user: poke.trainer,
      text: 'Destroy'
    %>
  </div>
</div>
