<turbo-frame id="modal">
  <section class="modal-section" data-action="click->menu#close" data-controller="menu">
    <div class="modal" data-action="keyup@document->menu#escClose">
      <div class="modal-window">
        <%= link_to 'Pokemons', pokemons_path %>
        <%= link_to 'Trainers', trainers_path %>
        <%= link_to 'Abilities', poke_abilities_path %>
        <%= link_to 'Types', poke_types_path %>
        <% if trainer_signed_in? %>
          <%= link_to 'Log out', destroy_trainer_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Log in', new_trainer_session_path %>
          <%= link_to 'Sign up', new_trainer_registration_path %>
        <% end %>
      </div>
    </div>
  </section>
</turbo-frame>
