<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<section class='show-container'>

  <%= render 'shared/pokemon_card', poke: @pokemon, show_all: true %>

  <% if current_trainer.id == @pokemon.trainer.id %>
    <%= form_with url: add_ability_path, method: :get do |form| %>
      <div class="field">
        <%= form.label :ability %>
        <%= form.collection_select :name, PokeAbility.all, :name, :name, propmt: true %>
      </div>

      <%= form.hidden_field :poke_id, value: @pokemon.id %>

      <div class="actions">
        <%= form.submit "Add ability to #{@pokemon.name}" %>
      </div>
    <% end %>

    <%= form_with url: add_type_path, method: :get do |form| %>

      <div class="field">
        <%= form.label :poke_type %>
        <%= form.collection_select :name, PokeType.all, :name, :name, propmt: true %>
      </div>

      <%= form.hidden_field :poke_id, value: @pokemon.id %>

      <div class="actions">
        <%= form.submit "Add type to #{@pokemon.name}" %>
      </div>
    <% end %>
  <% end %>

  <div class="links-container">
    <% if current_trainer.id == @pokemon.trainer.id%>
      <%= link_to 'Edit', edit_pokemon_path(@pokemon), class: 'myLink green' %>
    <% end %>
    <%= link_to 'Back', pokemons_path, class:'myLink green' %>
  </div>
</section>
