<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="main-container">
    <h2> Trainer </h2>
    <p> <%= @trainer.name %> </p>

  <% @trainer.pokemons.each do |poke| %>
    <%= render "shared/pokemon_card", poke: poke, show_all: false %>
  <% end %>

  <div class="links-container">
    <%= link_to 'Add new pokemon', new_pokemon_path %>
    <%= link_to 'Edit', edit_trainer_path(@trainer) %>
    <%= link_to 'Back', trainers_path %>
  </div>
</div>